body {
    font-family: Arial, sans-serif;
    background-color: #edfcf2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 300px; /* Adjust width as needed */
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: grid;
    gap: 20px;
}

label,
input,
button {
    width: 100%;
}

button {
    padding: 10px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}

#message {
    margin-top: 10px;
    text-align: center;
}
